@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --halfyellow: rgba(255, 208, 87, .7);
    --yellow: #FFD057;
    --grey: #e0e0e0;
}

body{
    background-image: url("./UI/blacckbg.png");
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Bebas Neue', cursive;
    color: rgba(255, 208, 87, 1);
    padding: 0%;
    margin: 0%;
    font-weight: 400;
    font-size:40px;
}

header{
    display: flex;
    width: 70%;
    height: 20vh;
    margin: auto;
    margin-top: 2%;
    align-items: center;
    justify-content: space-evenly;
}

.logo, 
.links{
    display: flex;
}

img{
    flex: 1;
    margin-right: 60vh;
}
nav{
    flex:1;
}
/*logo*/
.logo img{
    width: 130px;
    border-radius: 100px;
}
/*logo animation*/
img{
    opacity: 0;
    animation: img 3s ease-out forwards;
}

@keyframes img {
    to{
        opacity: 1;
    }
}

/*navbar*/

li{
    flex: 2;
    flex-direction: flex-end;
    justify-content: space;
    text-align: center;
    list-style: none;
}

li a{
    margin: 0%;
    justify-content: center;
    font-size: 24px;
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
    color:rgba(255, 208, 87, .75)
}

.links li a:hover{
    color:rgba(255, 208, 87, 1);
    text-shadow: 0px 0px 40px rgba(255, 208, 87, 1);
}

/*Animating Navbar for page loading*/
li.A{
    opacity: 0;
    transform: translateY(-5rem);
    animation: head 1s ease-out forwards;
}

@keyframes head {
    to{
        transform: translate(0);
        opacity: 1;
    }
}

li.B{
    opacity: 0;
    transform: translateY(-5rem);
    animation: head 1.2s ease-out forwards;
}

@keyframes head {
    to{
        transform: translate(0);
        opacity: 1.4;
    }
}

li.C{
    opacity: 0;
    transform: translateY(-5rem);
    animation: head 1.6s ease-out forwards;
}

@keyframes head {
    to{
        transform: translate(0);
        opacity: 1;
    }
}

/*my text components on Portfolio page*/

.main{
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin: 3%;
    padding: 3%;
}

.intro-left{
    margin-top: 3%;
}

main .intro-left{
    opacity: 0;
    transform: translateX(-5rem);
    animation: inle 0.8s ease-out forwards;
}

@keyframes inle {
    to{
        transform: translate(0);
        opacity: 1;
    }
}

.intro-left p{
    font-size: 25px;
    color: #e0e0e0;
    margin-left: 5%;
    font-family: 'Nixie One', cursive;
}

.intro-left h1{
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
}

main .intro-left h1{
    opacity: 0;
    transform: translateX(3rem);
    animation: inri 1.5s ease-out forwards;
}

@keyframes inri {
    to{
        transform: translate(0);
        opacity: 1;
    }
}

/*right side of txt*/
.intro-right{
    margin-top: 5%;
    align-items: center;
}

.intro-right p{
    font-size: 29px;
    font-family: 'Nixie One', cursive;
    font-weight: 100;
    margin: 1%;
    padding: 3%;
    width: 600px;
    color: #e0e0e0;
    box-sizing: border-box;
}

main .intro-right{
    opacity: 0;
    transform: translateX(5rem);
    animation: inri 1s ease-out forwards;
}

@keyframes inri {
    to{
        transform: translate(0);
        opacity: 1;
    }
}

/*button to contact me*/
.CM{
    margin: 10%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 0%;
    background-color: transparent;
    font-size: 25px;
}
/*general properties of the txt box*/
button{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #FFD057;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
   
}

button:hover{
    color: rgb(53, 53, 53);
    background:rgba(255, 208, 87, 1);
    box-shadow: 0 0 10px #FFD057;
    box-shadow: 0 0 40px #FFD057;
    box-shadow: 0 0 80px #FFD057;
    transition-delay: 0.3s;
}

button span{
    position: absolute;
    display: block;
}

button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#FFD057);
}
button:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#FFD057);
}
button:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
}

button span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#FFD057);
}
button:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
}

button span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#FFD057);
}
button:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
}

main button{
    opacity: 0;
    transform: translateX(5rem);
    animation: but 1s ease-out forwards;
}

@keyframes but {
    to{
        transform: translate(0);
        opacity: 1;
    }
}

hr{
    size: 1px;
    border: dashed.5px;
    color: rgb(245, 236, 187);
}

/*see: (Skill and Exerience section)*/
.see{
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "se e1 e2"
    ". e3 .";
    gap: 7%;
}

.skill{
    grid-area: se;
}

.ex1{
    grid-area: e1;
}

.ex2{
    grid-area: e2;
}

.ex3{
    grid-area: e3;
}

.see h2{
    font-weight: 500;
    font-size: 60px;
}

.see p{
    font-size: 25px;
    font-family: 'Nixie One', cursive;
    font-weight: 200;
    width: 500px;
    color: #e0e0e0;
    box-sizing: border-box;
}

/*Section footer*/

.footer{
    
}
