@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    background-image: url("./UI/blacckbg.png");
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Bebas Neue', cursive;
    color: rgba(255, 197, 47, 1);
    padding: 0%;
    margin: 0%;
    font-weight: 400;
    font-size:40px;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 70%;
    height: 20vh;
    margin: auto;
    margin-top: 2%;
    align-items: center;
    justify-content: space-evenly;
}

.logo, 
.links{
    display: flex;
}

img{
    flex: 1;
    margin-right: 60vh;
}
nav{
    flex:1;
}
/*logo*/
.logo img{
    width: 130px;
    border-radius: 100px;
}

/*navbar*/
.links li{
    flex: 2;
    flex-direction: flex-end;
    justify-content: space;
    text-align: center;
    list-style: none;
}

.links li a{
    margin: 0%;
    justify-content: center;
    font-size: 24px;
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
}

.links li a:hover{
    color:aliceblue;
    text-shadow: 2px 2px 20px darkorange;
    text-decoration: underline;
    animation: bar ease-in 1s;
}

@keyframes bar {
    0%{
        text-decoration: underline 0px;
    }

    100%{
        text-decoration: underline;
    }
}

/*my text components on Portfolio page*/

.main{
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin: 3%;
    padding: 3%;
}

.intro-left{
    margin-top: 3%;
}

.intro-left p{
    font-size: 25px;
    color: white;
    margin-left: 5%;
    font-family: 'Nixie One', cursive;
}

.intro-left h1{
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
}

/*right side of txt*/
.intro-right{
    margin-top: 5%;
    align-items: center;
}

.intro-right p{
    font-size: 29px;
    font-family: 'Nixie One', cursive;
    font-weight: 100;
    margin: 1%;
    padding: 3%;
    width: 600px;
    color: white;
}

/*button to contact me*/
.CM{
    margin: 5%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0%;
    color: white;
    border: 0;
    background-color: transparent;
    letter-spacing: 0.01em;
    transition: 0.5s;
    text-decoration: none;
}

.CM button{
    color: white;
}

.CM:hover{
    color: black;
    size: 15px;
    box-shadow: 0 0 35px rgba(255, 197, 47, 1);
    letter-spacing: 0.1em;
}

.CM::before{
    content: '';
    position: absolute;
    background: black;
}

.CM span{
    position: relative;
    z-index: 1;
}

.CM i{
    position: absolute;
    display: block;
}

.CM i::before{
    content: '';
    position: absolute;
    top:0;
    left:80%;
    width: 10px;
    height: 4px;
    background: white;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.CM:hover i::before{
    width: 20px;
    left: 20%;
}

.CM i::before{
    content: '';
    position: absolute;
    bottom:0;
    left:20%;
    width: 10px;
    height: 4px;
    background: white;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

.CM:hover i::after{
    width: 20px;
    left: 80%;
}