@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --halfyellow: rgba(255, 208, 87, .7);
    --yellow: #FFD057;
    --grey: #e0e0e0;
    scroll-behavior: smooth;
}

body {
    background-image: url("./UI/blacckbg.png");
    background-size: cover;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
}

/*Scroll Trans*/

.hidden {
    opacity: 0;
    transition: all 5s;
}

.show {
    opacity: 1;
}


* {
    font-family: 'Bebas Neue', cursive;
    color: rgba(255, 208, 87, 1);
    padding: 0%;
    margin: 0%;
    font-weight: 400;
    font-size: 40px;
}

hr {
    size: 1px;
    border: dashed.5px;
    color: rgb(245, 236, 187);
}

header {
    display: flex;
    width: 70%;
    height: 20vh;
    margin: auto;
    margin-top: 2%;
    align-items: center;
    justify-content: space-evenly;
}

.logo,
.links {
    display: flex;
}

img {
    flex: 1;
    
}

nav ul {
    width: 600px;
}

/*logo*/
.logo img {
    width: 130px;
    border-radius: 100px;
}

/*logo animation*/
img {
    opacity: 0;
    animation: img 3s ease-out forwards;
}

@keyframes img {
    to {
        opacity: 1;
    }
}

/*navbar*/

li {
    flex: 2;
    flex-direction: flex-end;
    justify-content: space;
    text-align: center;
    list-style: none;
}

li a {
    margin: 0%;
    justify-content: center;
    font-size: 24px;
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
    color: rgba(255, 208, 87, .75)
}

.links li a:hover {
    color: rgba(255, 208, 87, 1);
    text-shadow: 0px 0px 40px rgba(255, 208, 87, 1);
}

/*Animating Navbar for page loading*/
li.A {
    opacity: 0;
    transform: translateY(-5rem);
    animation: head 1s ease-out forwards;
}

@keyframes head {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

li.B {
    opacity: 0;
    transform: translateY(-5rem);
    animation: head 1.2s ease-out forwards;
}

@keyframes head {
    to {
        transform: translate(0);
        opacity: 1.4;
    }
}

li.C {
    opacity: 0;
    transform: translateY(-5rem);
    animation: head 1.6s ease-out forwards;
}

@keyframes head {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

li.D {
    opacity: 0;
    transform: translateY(-5rem);
    animation: head 1.9s ease-out forwards;
}

@keyframes head {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

/*my text components on Portfolio page*/

.main {
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin: 3%;
    padding: 3%;
}

main .intro-left {
    margin-top: 3%;
}

main .intro-left {
    opacity: 0;
    transform: translateX(-5rem);
    animation: inle 0.8s ease-out forwards;
}

@keyframes inle {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

.intro-left p {
    font-size: 25px;
    color: #e0e0e0;
    margin-left: 5%;
    font-family: 'Nixie One', cursive;
}

.intro-left h1 {
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
}

main .intro-left h1 {
    opacity: 0;
    transform: translateX(3rem);
    animation: inri 1.5s ease-out forwards;
}

@keyframes inri {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

/*right side of txt*/
.intro-right {
    margin-top: 5%;
    align-items: center;
}

.intro-right p {
    font-size: 29px;
    font-family: 'Nixie One', cursive;
    font-weight: 100;
    margin: 1%;
    padding: 3%;
    width: 600px;
    color: #e0e0e0;
    box-sizing: border-box;
}

main .intro-right {
    opacity: 0;
    transform: translateX(5rem);
    animation: inri 1s ease-out forwards;
}

@keyframes inri {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

/*button to contact me*/
.CM {
    margin: 10%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 0%;
    background-color: transparent;
    font-size: 25px;
}

/*general properties of the txt box*/
.CM {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #FFD057;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: rgb(216, 235, 53) 3px 3px 6px 0px , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;

}

.CM:hover {
    color: rgb(53, 53, 53);
    background: rgba(255, 208, 87, 1);
    box-shadow: 0 0 10px #FFD057;
    box-shadow: 0 0 40px #FFD057;
    box-shadow: 0 0 80px #FFD057;
    transition-delay: 0.3s;
}

.CM span {
    position: absolute;
    display: block;
}

.CM span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFD057);
}

    .CM:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.CM span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFD057);
}

.CM:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
}

.CM span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFD057);
}

.CM:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
}

.CM span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFD057);
}

.CM:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
}

main .CM {
    opacity: 0;
    transform: translateX(5rem);
    animation: but 1s ease-out forwards;
}

@keyframes but {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

/*see: (Skill and Exerience section)*/
.see {
    padding: 3%;
    display: grid;
    grid-template-areas:
        "se e1 e2"
        "tl e3 e4";
    gap: 5%;
}

.skill {
    grid-area: se;
}

.ex1 {
    grid-area: e1;
}

.ex2 {
    grid-area: e2;
}

.ex3 {
    grid-area: e3;
}

.ex4 {
    grid-area: e4;
}

.timeline {
    grid-area: tl;
}

.timeline {
    position: relative;
    top: -20%;
    margin: 69px;
    width: 360px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}

.timeline div {
    padding: 10px 25px;
    font-size: 16px;
    height: 110px;
}

.timeline div::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: 3px solid #ddd;
    position: absolute;
    top: 25px;
    left: -9px;
}

.timeline div::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: 3px solid #ddd;
    position: absolute;
    top: 163px;
    left: -9px;
}

.timeline div span::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: 3px solid #ddd;
    position: absolute;
    top: 295px;
    left: -9px;
}

.see h2 {
    font-weight: 500;
    font-size: 60px;
    color: var(--yellow);
}

.see p {
    font-size: 25px;
    font-family: bebus nenu,sans serif;
    font-family: 'Nixie One', cursive;
    font-weight: 200;
    width: 500px;
    color: #e0e0e0;
    box-sizing: border-box;
}

/*SE Animation (parralax scrolling)*/



/*Section footer*/

.footer {
    padding: 5%;
}

.footer h1 {
    font-size: 120px;
    font-weight: 600;
    letter-spacing: 10px;
    padding: 7%;
}

.con {
    padding: 0;
    margin-left: 25%;
    font-size: 35px;
    font-family: 'Nixie One', cursive;
    font-weight: 200;
    width: 500px;
    color: #e0e0e0;
    box-sizing: border-box;
}

.con h2 {
    padding: 0;
    margin-left: -15%;
    font-size: 40px;
    font-family: 'Nixie One', cursive;
    font-weight: 900;
    width: 500px;
    color: #e0e0e0;
    box-sizing: border-box;
}

/*Icons*/
.icon a {
    height: 130px;
}

.icon img {
    height: 60px;
    padding: 2px;
    border-radius: 25px;
    background-color: #ccc;
    margin-right: 125px;
}

.icon img:hover {
    background-color: white;
}

.icon {
    display: flex;
    justify-content: space-evenly;
}

.ic {
    display: flex;
    margin: 0%;
    padding: 0%;
}

/*back to top btn*/
.btt a {

    align-items: center;
    text-decoration: none;
    color: var(--grey);
    margin: 0%;
    margin-left: 80%;
    width: 300px;
    padding: 0%;
}

.btt a {
    display: flex;
    flex-direction: column;
}

.btt img {
    margin: 0%;
    padding: 2px;
    border-radius: 100px;
}


/*Copy rights footer*/

.cc p {
    padding: 10px;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.center{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/*AboutMe*/
.title h1 {
    color: var(--grey),
}


  
  @media screen and (min-width: 1200px) {
    
    *{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .img{
        margin-right: 0;
    }

    header{
        justify-content: center;
    }

    .logo{
        margin: 0;
        padding: 0;
    }

    nav ul{
        flex-direction: column;
        padding: 2% 0%;
    }

    .main{
        display: block;
    }
    
    /* Collapse the grid on smaller screens */
    .see {
        display: block;
      }
    
      /* Align the elements vertically */
      .skill,
      .timeline,
      .ex1,
      .ex2,
      .ex3,
      .ex4 {
        display: flex;
        flex-direction: column;
      }
    
      /* Remove the padding from the timeline divs */
      .timeline div {
        padding: 0;
      }
    
      /* Change the font size of the h2 elements */
      .skill h2,
      .timeline h2,
      .ex1 h2,
      .ex2 h2,
      .ex3 h2,
      .ex4 h2 {
        font-size: 30px;
        margin-top: 30px;
      }
    
      /* Change the font size of the p elements */
      .skill p,
      .timeline p,
      .ex1 p,
      .ex2 p,
      .ex3 p,
      .ex4 p {
        font-size: 16px;
      }

      .footer{
        text-align: center;
        padding: 0%;
        margin: 0%;
      } 
      
      .icon{
        justify-content: space-between;
        align-items: center;
        width: 20px;
      }



}
  